#cloud-config
datasource_list: [NoCloud, ConfigDrive]

timezone: {{ timezone }}

system_info:
  default_user:
    gecos: cloud-init default

package_update: true
package_upgrade: true
package_reboot_if_required: true

bootcmd:
  - date > /etc/birth_certificate

runcmd:
  - netplan apply
